:root {
    --button-background-color: hsl(180, 66%, 49%);
    --very-light-background-color: white;
    --light-background-color: hsl(0, 0%, 94%);
    --dark-background-color: hsl(257, 27%, 26%);
    --very-dark-background-color: hsl(255, 11%, 22%);
    --error-color: hsl(0, 87%, 67%);
    --light-text-color: white;
    --medium-text-color: hsl(257, 7%, 63%);
    --dark-text-color: hsl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-text-color);
}

p {
    color: var(--medium-text-color);
}

header {
    display: flex;
    padding: 50px 20px 25px;
    justify-content: space-between;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
}

button {
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: var(--light-text-color);
    background-color: var(--button-background-color);
}

button.get-started {
    padding: 15px 45px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 40px;
}

/* Header Section */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu>* {
    height: 3px;
    width: 25px;
    background-color: var(--medium-text-color);
}

/* Intro Section */

.intro {
    padding-bottom: 70px;
}

.intro-logo {
    height: 35px;
}

.image-container {
    overflow: hidden;
    padding-left: 20px;
}

.intro-image {
    width: 500px;
}

.intro-text {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 30px;
}

.intro-text h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 15px;
}

.intro-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 25px;
}

/* Shortener Section */

.shortener-container {
    background-color: var(--light-background-color);
}

.shortener-form-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 20px 1fr 20px;
}

.shortener {
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 20px;
    grid-row: 1/-1;
    grid-column: 2/3;
    z-index: 1;
}

.shortener-form-container .top {
    background-color: var(--very-light-background-color);
    grid-column: 1/-1;
    grid-row: 1/2
}

.shortener-form-container .bottom {
    background-color: var(--light-background-color);
    grid-column: 1/-1;
    grid-row: 2/3
}

.form-item {
    position: relative;
}

.form-item label {
    position: absolute;
    left: 20px;
    top: 12px;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.55;
}

.form-item label.invalid-input {
    color: var(--error-color);
}

.form-item label.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.form-item input,
.shortener button {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.form-item input {
    padding-left: 20px;
    color: var(--dark-text-color);
    background-color: var(--very-light-background-color);
}

.form-item input:focus {
    outline-color: var(--light-background-color);
    outline-width: 1px;
    outline-style: solid;
}

.form-item input.touched:invalid {
    border-color: var(--error-color);
    outline-color: var(--error-color);
    color: var(--error-color);
}

.error {
    font-style: italic;
    font-size: 0.8rem;
    color: hsl(0, 66%, 64%);
}

.shortener button {
    font-size: 1.1rem;
}

.shortened-links {
    margin: 20px 0 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shortened-link {
    padding: 15px 0;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    row-gap: 10px;
}

.shortened-link>* {
    grid-column: 2/3;
}

.shortened-link .original {
    color: var(--dark-text-color);
}

.shortened-link .shortened {
    color: var(--button-background-color);
}

.shortened-link>hr {
    border-top: 1px solid var(--light-background-color);
    grid-column: 1/-1;
}

.shortened-link button {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
}

/* Info Section */

.info {
    padding: 50px 20px;
    text-align: center;
    background-color: var(--light-background-color);
}

.info .overview {
    padding: 0 10px;
    margin-bottom: 40px;
}

.info .overview h2 {
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.info-items {
    display: grid;
    gap: 70px;
}

.info-item {
    background-color: var(--very-light-background-color);
    border-radius: 5px;
    padding: 70px 25px 40px;
}

/* Call to Action Section */

.call-to-action {
    text-align: center;
    background-color: var(--dark-background-color);
    padding: 90px 0;
}

.call-to-action h2 {
    font-size: 1.7rem;
    margin-bottom: 15px;
    color: var(--light-text-color);
}

/* Footer Section */

footer {
    background-color: var(--very-dark-background-color);
    text-align: center;
    align-items: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-logo {
    height: 35px;
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
}

.footer-item h3 {
    margin-bottom: 20px;
    color: var(--light-text-color);
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem;
    color: var(--medium-text-color);
}